.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/pgk-ezgif.gif');
    background-repeat: no-repeat;
    background-size:cover;
    color:whitesmoke;
    
    @media screen and (max-width:500px){
        background-position:right;
    }

    // .app-header {
    //     background-color: #22123e;
    // }

    main {
        flex-grow: 1;
        padding:0 20px;
    }

    >footer {
        background-color: #1a083a;
        color: white;
        text-align: center;
    }
}