/* You can add global styles to this file, and also import other style files */

// Variables
// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

// Base
* {
    box-sizing: border-box;
  }
  
  html {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a083a;
  }
  
  img {
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-weight: normal;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
  
    * {
      pointer-events: none;
    }
  }
  
  input {
    font-family: inherit;
    text-align: inherit;
  }
  
  // MAC like scrollbar
  ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
  }
  
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
  }
  

  // Layout
  .container {
    max-width: 90%;
    // margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;


    // @include for-mobile-layout {
    //     max-width: initial;
    // }

    // @include for-tablet-layout {
    //     max-width: $mobile-breakpoint;
    // }

    // @include for-normal-layout {
    //     max-width: $tablet-breakpoint;
    // }

    // @include for-wide-layout {
    //     max-width: $normal-breakpoint;
    // }
}

// GRIDS
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 30px;
}


// Font Sizes
.sm-font { font-size: rem(14px); }
.md-font { font-size: rem(20px); }
.lg-font { font-size: rem(30px); }
.xl-font { font-size: rem(40px); }

// List
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
    }
}

// Positioning
.flex {
    display: flex;
    &.column { flex-direction: column; }
    &.justify-center { justify-content: center; }
    &.align-center { align-items: center; }
    &.wrap { flex-wrap: wrap; }
    &.space-between { justify-content: space-between; }
    &.space-around { justify-content: space-around; }
    &.auto-center {
        justify-content: center;
        align-items: center;
    }
    &.gap-1{
      gap:1px;
    }
    &.gap-2{
      gap:2px;
    }
    &.gap-3{
      gap:3px;
    }
    &.gap-4{
      gap:4px;
    }
    > *.full-grow { flex: 1; }
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.center-block {
    display: block;
    margin: 0 auto;
}

// Media helpers
// .square-ratio { @include aspect-ratio(1, 1); }

// .wide-ratio { @include aspect-ratio(16, 9); }

// .square-3 { @include aspect-ratio(4, 3); }


// Buttons
.simple-button {
    background: transparent;
    color: black;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    opacity: 0.6;
    transition: 0.3s all;
    padding: 0;
    cursor: pointer;

    &:disabled {
        cursor: initial;
        opacity: 0.2;
    }

    i {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }
}

.medium-button { font-size: 1.5rem; }

// Transitions
.fast-trans { transition: 0.25s all; }
.normal-trans { transition: 0.4s all; }
.slow-trans { transition: 0.7s all; }


// Spacing
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }

// Normalize Background
.normBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Dividing
.bottom-divider {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}


// Others
.blurred { filter: blur(4px); }

.simple-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 15px auto;

    &>*:not(:last-child) {
        margin-bottom: 10px;
    }

    input:not([type="checkbox"]),
    button {
        padding: 5px 8px;
        width: 100%;
    }

    .form-errors {
        text-align: center;
        margin-top: 24px;
        color: red;
        font-size: 15px;
    }
}